*{
    font-family: 'Poppins';
}

#service_provider_list_prices{
    background-color: #F9F6EE;
    display: flex;
    padding: 20px;
    margin: 20px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 40%;

    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 25px;
    height: 50vh;
    margin-left: 40px;
}


#service_provider_list_prices #price_list_heading{
    font-weight: 600;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 10px;
}

#service_provider_list_prices #price_list_divider{
    width: 80%;
    margin-top: 2px;
    margin-bottom: 15px;
}

#service_provider_list_prices #list_of_prices{
    font-size: 18px;
    margin-top: 7px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 99%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}
  
/* -------- ROWS OF SERVICE & PRICE STYLING START -------- */
#service_provider_list_prices .member_list{
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
} 

#service_provider_list_prices .service_text{
    font-size: 18px;
    font-weight: 600;
} 

#service_provider_list_prices .editable_price{
    display: inline-block;
    margin-left: 10px; 
    margin-top: -13px;
}

#service_provider_list_prices .user_price{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 8px;
    width: 80%;
    padding: 5px;
    padding-left: 0px;
    margin-left: 0px;
}

#service_provider_list_prices .new_service{
    border-radius: 30px;
    border: none;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
    width: 110%;
    outline: 5px auto Highlight;
    margin-top: -6px;
}

#service_provider_list_prices .new_price{
    border-radius: 30px;
    border: none;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
    width: 50%;
    margin-top: 8px;
    margin-left: 32px;
    outline: 5px auto Highlight;
}

/* -------- ROWS OF SERVICE & PRICE STYLING END -------- */


/* -------- ADDING SERVICE FORM STYLING START -------- */
#service_provider_list_prices .adding_service_and_price {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#service_provider_list_prices #add_service_heading{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

#service_provider_list_prices #add_service_form{
    display: flex;
    margin-left: -6px;
}

#service_provider_list_prices input{
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#service_provider_list_prices #input_service{
    width: 60%;
    padding-left: 20px;
}

#service_provider_list_prices #input_price{
    width: 20%;
    margin-left: 10px;
    padding-left: 20px;
}

#service_provider_list_prices #add_service{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #345392;
    border: none;
    border-radius: 40px;
    padding: 6px 15px;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 45px;
}

#service_provider_list_prices #add_service:hover{
    transform: scale(1.03);
}

#service_provider_list_prices input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* -------- ADDING SERVICE FORM STYLING END -------- */


/* -------- SCROLLBAR STYLING START -------- */
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #E3DAC9;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
/* -------- SCROLLBAR STYLING END -------- */