*{
    font-family: 'Poppins';
}

.sp_my_appointments {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    margin-top: 15px;
}

.sp_my_appointments .appointment_section {
    background-color: #e3dac9;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* align-items: flex-start; */
    position: relative;
    height: 80vh;
    width: 100%;
    margin: 15px;
}

.sp_my_appointments .type_of_appointment_heading {
    font-weight: 600;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.sp_my_appointments .list_of_appointments {
    margin-left: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    align-items: center;
}



/* -------- SCROLLBAR STYLING START -------- */
.sp_my_appointments ::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  
  .sp_my_appointments ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #f9f6ee;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
/* -------- SCROLLBAR STYLING END -------- */