*{
    font-family: 'Poppins';
}

#service_provider_info{
    background-color: #F9F6EE;
    display: flex;
    padding: 20px;
    margin: 20px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#first_line{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#req_appointment{
    background-color: #345392;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    padding: 6px 18px;
    font-weight: 600;
    font-size: 18px;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2px;
}

#service_provider_name{
    font-weight: 600;
    font-size: 28px;
}

#sp_photo{
    margin-top: 8px;
}

#service_provider_info #rating{
    display:flex;
    justify-content: space-between;
    width: 200px;
    margin: 0px 0px;
    margin-top: 10px;
}

#service_provider_info .rating_num{
    font-size: 18px;
}

#service_provider_info #change_photo_label{
    background-color: #345392;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

#service_provider_info #change_photo_label:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
#service_provider_info #change_photo{
    display:none;
}

#service_provider_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 15%;
}

#service_provider_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin-left: 20px;
}

#services_completed{
    font-size: 18px;
    margin-top: 7px;
}   

#service_provider_info #editable_line{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#service_provider_info #user_address{
    font-size: 18px;
    margin-top: 8px;
    width: 80%;
    padding: 5px;
    padding-left: 0px;
    margin-left: 0px;
}

#service_provider_info #new_address{
    border-radius: 30px;
    border: none;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
    width: 90%;
    margin-top: 8px;
    margin-left: -2px;
    outline: 5px auto Highlight;
}

#service_provider_info #edit_button{
    background: none;
    border: none;
    color: gray;
}

#service_provider_info #edit_button:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: black;
}

#service_provider_info #editable_input{
    width: 80%;
}

#service_provider_info #save_changes{
    cursor: pointer;
    background-color: #345392;
    border: none;
    border-radius: 40px;
    padding: 6px 18px;
    font-size: 13px;
    font-weight: 400;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#service_provider_info #save_changes:hover{
    transform: scale(1.03);
}

@media only screen and (max-width: 948px) {
    #icon{
        display: none;
    }
}
