#explore_body{
    display: flex;
    width: 100%;
    justify-content: center;
}

#explore_right{
    width: 70%;
    margin-left: 0px;

}

#explore_left{
    width: 15%;
    margin-right: 0px;
    padding-top: 18px;
}

#explore_services_provided{
    font-weight: 600;
    font-size: 24px;
}

.filter{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

#search_bar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    border: none;
    padding: 15px;
    padding-left: 20px;
    width: 70%;
    font-size: 18px;
}

#search_button{
    padding: 10px;
    background-color: #D46F59;
    color: white;
    border-radius: 50%;
    border: none;
    margin-left: -50px;
}

#search_button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#search_bar:focus{
    outline: 5px auto Highlight;
}

input[type=checkbox] {
    accent-color: #D46F59;
    border-radius: 100;
  }
#search_top{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.filter input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin-top: 5px;
}
  
.filter:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.filter input:checked ~ .checkmark {
    background-color: #D46F59;
}
  
.checkmark:after {
content: "";
position: absolute;
display: none;
}
  
.filter input:checked ~ .checkmark:after {
display: block;
}

.filter .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}