.hdg {
    color: black;
    margin-left: -380px;
    margin-bottom: 30px;
    font-family: "poppins";
    font-weight: 600;
}

.cards_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cards_items {
    margin-bottom: 30px;
    display: inline-block;
}