.dashboard_container .headingForDashboard {
    color: black;
    font-family: "poppins";
    font-weight: 600;
    text-align: center;
    margin-right: 380px;
    margin-bottom: 30px;
    font-size: 28px;
}

.dashboard_container .cards_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dashboard_container .cards_items {
    margin-bottom: 30px;
    display: inline-block;
}