.DAbox{    
    background-color: #F9F6EE;
    width: 30%;
    height: 37rem;
    margin-left: 35%;
    margin-top: 6%;
    margin-bottom: 6%;
    border: solid;
    padding: 40px;
}

.DeleteAccount{
    color: red;
    align-items: center;
    margin-left: 35px;
    font-weight: 600;
    font-size: 60px;
}

.button{
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}

.sure{
    align-items: center;
    margin-left: 30px;
    font-weight: 200;
    font-size: 20px;
}


.yes{
    cursor: pointer;
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    width: 200px;
    margin-right: 50px;
    margin-top: 130px;
    margin-left: 65px;
}

.no{
    cursor: pointer;
    background-color: white;
    border: 2px solid green;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    letter-spacing: 20%;
    width: 200px;
}

.yes:hover{
    background-color: red;
}

.no:hover{
    background-color: green;
}
