

*{
  font-family: 'Poppins', sans-serif;
}

.Navbar a{
  all:unset;
}

.Navbar a:hover{
  cursor: pointer;
}


.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ebdb;
  }

  .Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
  } 

  .Navbar > .icon{
    margin-left: 300px;
  }
  .Navbar > .nav-items > a {
    color: #000000;
    font-size: 18px;
    font-style: poppins;
    text-decoration: none;
    margin: 15px;
    opacity: 0.9;
    text-align: right;
    font-weight: medium;
  }
  .Navbar > Button{
    border-radius: 20px;
    float: right;
    margin-left: 400px;
  }
  .Navbar > .logo {
    margin-right: 100px;
    background-color: #f3ebdb;
    font-size: 28px;
  }
  
  
  .Navbar > .nav-items > a:hover {
    opacity: 10;
    color: #d46f5e;
  }

  
  .Navbar > .nav-items > a::before {
    content: "";
    position: left;
    left: 150;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: all 0.45s;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    .Navbar > .nav-items {
      position: center;
      top: 60px;
      display: flex;
      flex-direction: column;
      background: #3b4da7;
  
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all .45s;
    }
  
    .Navbar > .nav-items > a::before {
        background: transparent;
    }
  
    
  

  
  
  }

.logo span {
    color: #d46f5e;
}
.logo span:nth-child(2) {
    color: #0b5394;
}

.amorr-text {
  background-color: transparent;
}