#editable{
    border-radius: 30px;
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 18px;
    margin-left: 5px;
    padding-left: 10px;
    width: 90%;
}

#editable:hover{
    background-color:  white;
    cursor: pointer;
}

#editable:focus{
    outline: 5px auto Highlight;
    cursor: text;
    background-color: white;
}
