* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.coverpage-container {
    background: url('../../../assets/home/coverPage.png') center center/cover no-repeat;
    height: 50vh;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: insert 0 0 0 1000px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    position: relative;
}

.small-container {
    background: rgba(249, 246, 238, 0.85);
    border-radius: 5px;
    height: 35vh;
    width: 45%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.text-container {
    background: none;
    align-items: center;
    margin: auto;
}

h1 {
    color: #0b5394;
    font-size: 170%;
    font-family: "poppins";
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    background: none;
}

.subtext {
    color: black;
    font-size: 150%;
    font-family: "poppins";
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    background: none;
}

.search-bar {
    background: none;
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin-bottom: 40px;
}

input {
    flex-grow: 2;
    margin: auto;
    height: 40px;
    border-radius: 25px;
    padding-left: 15px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
}

input:focus {
    outline: none;
}

.search-btn {
    float: right;
    margin-left: -35px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background: url('../../../assets/home/search-bar.png') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}