.about_us_wrapper .box {
    background-color: #F9F6EE;
    width: 75%;
    margin: auto;

  }
  
  .about_us_wrapper .image{
    position: absolute;
  }
  
  
  .about_us_wrapper .titleContainer {
    flex-direction: row;
    display: flex;
    margin-bottom: -20px;
  }
  
  .about_us_wrapper .title{
    background: #F9F6EE;
    align-items: center;
    color: #345392;
    
  }
  
  .about_us_wrapper body {
    background-color: #f3ebdb;
  }
  
  .about_us_wrapper .container {
    margin-top: 2%;
    flex: 1;
    margin-bottom: 2%;
  }
  
  
  .about_us_wrapper .headerOne {
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
  
  }
  
  .about_us_wrapper .headerTwo {
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    align-items: center;
    
    
  }
  
  .about_us_wrapper .title .a{
    color: #d46f5e;
  }
  
  .about_us_wrapper .title .about{
    color: black;
  }
  
  .about_us_wrapper .box{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .about_us_wrapper .p{
    position: relative;
    width: 700px;
    margin-left: 4rem;
    font-size: 18px;
    line-height: 1.8;
  }
  
  
  .about_us_wrapper .title{
    position: relative;
    height: 50px;
    margin-left: 4rem;
  }
  
  .about_us_wrapper .img-peacock {
    margin-top: -600px;
    margin-right: 100px;
    display: flex;
    height: 700px
    
  }

  .about_us_wrapper button{
    cursor: pointer;
    background-color: #345392;
    border: none;
    border-radius: 40px;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 600;
}

.about_us_wrapper button:hover{
    transform: scale(1.03);
}