*{
    font-family: 'Poppins';
}

#interactive_card{
    background-color: #F9F6EE;
    padding: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

#interactive_card:hover{
    transform: scale(1.01);
}

#avatar{
    float: left;
    margin-right: 30px;
    margin-top: 8px;
}

#info_section{
    top: 50%;
}

#sp_name{
    font-weight: 600;
    font-size: 28px;
}

#rating{
    display:flex;
    justify-content: space-between;
    width: 200px;
    margin: 6px 0px;
}

.rating_num{
    font-size: 18px;
}

#card_body{
    color: #808080;
}

#second_line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#third_line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

