.box {
    background-color: #F9F6EE;
    width: 90%;
    height: 100rem;
    margin-left: 5%;
    margin-top: 2%;
  
    
  }
  
  .image{
    position: absolute;
  }
  
  
  .titleContainer {
    flex-direction: row;
    display: flex;
  }
  
  .title{
    background: #F9F6EE;
    align-items: center;
    color: #345392;
    
  }*/
  
  body {
    background-color: #f3ebdb;
  }
  
  .container {
    margin-top: 1%;
    flex: 1;
  
  }
  
  
  .headerOne {
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
  
  }
  
  .headerTwo {
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    align-items: center;
    
    
  }
  
  .title .a{
    color: #d46f5e;
  }
  
  .title .ToS{
    color: black;
  }
  
  .box{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  .p1{
    position: relative;
    margin-left: 4rem;
  }
  .p2{
    position: relative;
    margin-left: 4rem;
  }

  .p3{
    position: relative;
    margin-left: 4rem;
  }

  .p4{
    position: relative;
    margin-left: 4rem;
  }

  .p5{
    position: relative;
    margin-left: 4rem;
  }

  .p6{
    position: relative;
    margin-left: 4rem;
  }

  .p7{
    position: relative;
    margin-left: 4rem;
  }

  .p8{
    position: relative;
    margin-left: 4rem;
  }

  .p9{
    position: relative;
    margin-left: 4rem;
  }

  .p10{
    position: relative;
    margin-left: 4rem;
  }

  .p11{
    position: relative;
    margin-left: 4rem;
  }

  .p12{
    position: relative;
    margin-left: 4rem;
  }

  .p13{
    position: relative;
    margin-left: 4rem;
  }

  .p14{
    position: relative;
    margin-left: 4rem;
  }
  
  .title{
    position: relative;
    height: 50px;
    margin-left: 30rem;
  }

  .first{
    position: relative;
    margin-left: 4rem;
  }

  .second{
    position: relative;
    margin-left: 4rem;
  }

  .third{
    position: relative;
    margin-left: 4rem;
  }

  .fourth{
    position: relative;
    margin-left: 4rem;
  }

  .fifth{
    position: relative;
    margin-left: 4rem;
  }

  .sixth{
    position: relative;
    margin-left: 4rem;
  }

  .seventh{
    position: relative;
    margin-left: 4rem;
  }

  .eighth{
    position: relative;
    margin-left: 4rem;
  }

  .ninth{
    position: relative;
    margin-left: 4rem;
  }

  .tenth{
    position: relative;
    margin-left: 4rem;
  }

  .eleventh{
    position: relative;
    margin-left: 4rem;
  }

  .twelvth{
    position: relative;
    margin-left: 4rem;
  }

  .thirteenth{
    position: relative;
    margin-left: 4rem;
  }

  .fourteenth{
    position: relative;
    margin-left: 4rem;
  }