*{
    font-family: 'Poppins';
}

.left{
    display: flex;
    flex-direction: column;
}

.paints {
    width: 330px;
    padding-top: 95px;
}

.belowImage{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1;
    font-size: 18px;
    border: none;
    padding-left: 35px;
    padding-top: 20px;
}

input{
    border:none;
    padding:10px;
    font-size: 16px;
    padding-left: 0px;
    background-color: transparent;
}

.input{
    border-bottom:solid;
    border-width: 2px;
    flex: auto; 
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    color: black;
}

input:focus {
    outline: none;
}

.box{
    border: solid;
    padding: 20px;
    border-width: 2px;
}

textarea{
    border: solid;
    border-width: 2px;
    padding:10px;
    font-size: 16px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    resize: none;
    display: flex;
    height: 200px;
}

.input1{
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    margin-top: 40px;
    overflow-wrap: break-all;
}

button{
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #F9F6EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}

button:hover{
    transform: scale(1.03);
}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
}

::placeholder{
    color:black;
}

.right{
    width: 50%;
    padding: 20px;
    padding-top: 30px;
    padding-right: 150px;
    padding-left: 0px;
}

.left{
    align-items: center;
    width: 50%;
    margin-right: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}