<html>
    <body>
        <h2> AMORR Registration </h2>

        <form method="post">

            <!-- not sure what value does -->
            <input type="text" id="email" name="email" placeholder="email" value=""></input><br>

            <input type="text" id="uname" name="username" placeholder="username" value=""></input><br>

            <input type="text" id="pword" name="password" placeholder="password" value=""></input><br>

            <input type="text" id="r_pword" name="r_password" placeholder="repeat password" value=""></input><br>

            <input type="radio" id="customer" name="privilege" value="customer">
            <label for="customer">customer</label><br>
            <input type="radio" id="SP" name="privilege" value="SP">
            <label for="SP">SP</label><br>
            <input type="radio" id="admin" name="privilege" value="admin">
            <label for="admin">admin</label> 

            <button type="submit">Submit</button>

        </form>
    </body>
</html>